body {
    margin: auto;
    max-width: 60em;
    background-color: #fff;
    color: #414042;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    color: #009c82;
    padding: 1em 0 0 0;
}

p {
    text-align: left;
}

.center_paragraph {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 120%;
    color: #009c82;
}

a {
    color: #009c82;
}

a:hover {
    color: #65009c;
}

.navilink {
    text-decoration: none;
}

input {
    background-color: #fff;
    color: #41404
}

input[type=submit] {
    border-style: solid;
    border-color: #009c82;
    background-color: white;
    color: #009c82;
    padding: 4px 5px;
    margin: 5px;
}

input[type=submit]:hover {
    color: #65009c;
}

div {
    text-align:left;
}

.all_content {
    background-color: white;
    padding: 1.5em 3em;
    border-color: #009c82;
    border-style: dotted;
    border-radius: 2em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 156, 130, 1), rgba(0, 0, 0, 0));
    margin: 20px;
}
