body {
    margin: auto;
    max-width: 60em;
    background-color: #fff;
    color: #414042;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    color: #009c82;
    padding: 1em 0 0 0;
}

p {
    text-align: left;
}

.center_paragraph {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 120%;
    color: #009c82;
}

div {
    text-align:left;
}

.all_content {
    background-color: white;
    padding: 1.5em 3em;
    border-color: #009c82;
    border-style: dotted;
    border-radius: 2em;
}

a {
    color: #009c82;
}

.navilink {
    text-decoration: none;
}
