{% extends "layout.html" %}

{% block title %}
- {{ category_name }}
{% endblock %}

{% block content %}
<h2>Kaikki maksut kategoriassa {{ category_name }}</h2>

<a href="/project/{{ project_id }}">Palaa takaisin projektin sivulle</a>

<p>Tähän lisäkategoriaan on syötetty maksuja <strong>{{ category_total }}</strong> euroa.</p>

<ul>
  {% for payment in payments_in_category %}
  <li><strong>Saaja: {{ payment[0] }} </strong>| Summa: {{ payment[2] }} | Osa-alue: {{ payment[4] }} | Viesti: {{ payment[1] }} | Maksun luonut käyttäjä: {{ payment[5] }} | Pvm: {{ payment[3] }}</li>
  {% endfor %}
</ul>
{% endblock %}
