{% extends "layout.html" %}

{% block title %}
- Luo tapahtuma
{% endblock %}

{% block content %}
<h2>Tapahtuman luominen onnistui!</h2>

<p>Lisää seuraavaksi tapahtumalle ensimmäinen osa-alue. <strong>Jokaisen tapahtumaan lisättävän maksun on kuuluttava yhteen osa-alueeseen.</strong>
Osa-alueella on nimi ja sille on budjetoitu summa, ja tapahtuman kokonaisbudjetti koostuu osa-alueiden summasta. Kunkin osa-alueen budjetin toteutumista voi tarkastella ohjelmassa erikseen.</p>

<form action="/createsubproject" method="POST" onsubmit="return check(this)">
  <input type="hidden" name="tapahtumaid" value="{{ project_id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>Ensimmäisen osa-alueen nimi: <input type="text" name="name" /></p>
  <p>Osa-alueelle budjetoitava summa: <input type="number" name="total_sum" /></p>
  <p><input type="submit" value="Lisää osa-alue" /></p>
</form>

<script>
function check(form) {
    if (form.name.value.length > 100 || form.name.value.length < 3) {
        alert("Virheellinen osa-alueen nimi. Osa-alueen nimessä on oltava 3–100 merkkiä.");
        return false;
    }
    return true;
}
</script>

<p><em>Esimerkki: tapahtumalla Juhlat on kolme osaprojektia: koristelu (20 €), ruokailu (70 €) ja ohjelma (50 €). Jokainen maksu liittyy johonkin osa-aluetta, ja tapahtuman kokonaisbudjetti on 20+70+50=140 €.</em></p>

<p>Huom! Tapahtumaan ei voi lisätä maksuja, jos sillä ei ole yhtään osa-aluetta. <a href="/project/{{ project_id }}">Ohita silti osaprojektin lisäys ja siirry suoraan tapahtuman sivulle.</a></p>
{% endblock %}
