{% extends "layout.html" %}

{% block content %}
<h2>Lisää uusi tapahtuma</h2>
<p>Luo uusi tapahtuma syöttämällä tapahtuman nimi alla olevaan kenttään. Sinusta tulee tapahtuman järjestäjä.</p>
<p>Lisäämisen jälkeen tapahtumaan voi lisätä osa-alueita ja maksuja tapahtuman omalla sivulla.</p>
<form action="/createtapahtuma" method="POST">
  <p>Uuden tapahtuman nimi:</p>
  <p>
    <input type="text" name="nimi" />
  </p>
  <p>
    <input type="submit" value="Luo tapahtuma" />
  </p>
</form>
{% endblock %}
