{% extends "layout.html" %}

{% block content %}
<h3>Lisää uusi maksu</h3>
<form action="/addpayment" method="POST">
<input type="hidden" name="project_id" value="{{ project_information[0] }}" />
<p>Saaja: <input type="text" name="recipient" /></p>
<p>Maksun syy / lisätiedot: <input type="text" name="message" /></p>
<p>Summa (EUR): <input type="number" name="total" placeholder="1.0" step="0.01" /></p>
<p>Maksupäivä:</p>
<input type="date" name="paymentdate" value="2020-08-01" />
<p>Maksu kuuluu tapahtuman osa-alueeseen (pakollinen)</p>
  {% for subproject in subproject_list %}
    <input type="radio" name="paymentsubproject" value="{{ subproject[0] }}" /> {{ subproject[1] }} <br />
  {% endfor %}
<p>Maksu kuuluu kategorioihin</p>
  {% for category in category_list %}
    <input type="checkbox" name="paymentcategory" value="{{ category[0] }}" /> {{ category[1] }} <br />
  {% endfor %}
<p><input type="submit" value="Lisää maksu" /></p>
</form>
{% endblock %}
