{% extends "layout.html" %}

{% block title %}
- Muokkaa maksua
{% endblock %}

{% block content %}
<h2>Muokkaa maksua</h2>

<a href="/project/{{ project_id }}">Palaa takaisin projektin sivulle</a>

<h3>Maksun tiedot</h3>
<ul>
  <li><strong>Saaja:</strong> {{ recipient }}
  <li><strong>Summa:</strong> {{ total }}
  <li><strong>Viesti:</strong> {{ message }}
  <li><strong>Päivämäärä:</strong> {{ date }}
</ul>
<p>Maksu on liitetty osaprojektiin {{ subproject }}.</p>

<h3>Muokkaa tietoja</h3>
<form action="/setrecipient" method="POST" onsubmit="return check(this)">
  <input type="hidden" name="payment_id" value="{{ payment_id }}" />
  <input type="hidden" name="project_id" value="{{ project_id }}" />
  Uusi vastaanottaja:
  <input type="text" name="newrecipient" />
  <input type="submit" value="Muuta vastaanottaja" />
</form>

<form action="/settotal" method="POST" onsubmit="return check(this)">
  <input type="hidden" name="payment_id" value="{{ payment_id }}" />
  <input type="hidden" name="project_id" value="{{ project_id }}" />
  Uusi summa:
  <input type="number" name="newtotal" placeholder="1.0" step="0.01" value="{{ total }}" />
  <input type="submit" value="Muuta summa" />
</form>

<form action="/setmessage" method="POST" onsubmit="return check(this)">
  <input type="hidden" name="payment_id" value="{{ payment_id }}" />
  <input type="hidden" name="project_id" value="{{ project_id }}" />
  Uusi viesti:
  <input type="text" name="newmessage" />
  <input type="submit" value="Muuta viesti" />
</form>

<form action="/setdate" method="POST" onsubmit="return check(this)">
  <input type="hidden" name="payment_id" value="{{ payment_id }}" />
  <input type="hidden" name="project_id" value="{{ project_id }}" />
  Uusi päivämäärä:
  <input type="date" name="newdate" value="{{ date }}" />
  <input type="submit" value="Muuta päivämäärä" />
</form>

<script>
function check(form) {
    if (form.newrecipient.value.length < 3 || form.newrecipient.value.length > 100) {
        alert("Vastaanottajan nimessä on oltava 3–100 merkkiä.");
        return false;
    }
    if (form.newmessage.value.length > 100) {
        alert("Viestissä saa olla korkeintaan 100 merkkiä.");
        return false;
    }
    return true;
}
</script>

{% endblock %}
