{% extends "layout.html" %}

{% block content %}
{% if session.username %}
<p>Tervetuloa hallinnoimaan tapahtumasi kuluja. Olet kirjautunut sisään tunnuksella {{ session.username }}</p>
<p><a href="/logout">Kirjaudu ulos</a></p>
<p>Tapahtumia järjestelmässä: {{ laskuri }} kappaletta (laskuri)</p>
{% else %}
<h2>Kirjaudu sisään sovellukseen.</h2>
<form action="/login" method="POST">
<p>Tunnus:<br />
  <input type="text" name="username" />
</p>
<p>Salasana:<br />
  <input type="password" name="password" />
</p>
<input type="submit" value="Kirjaudu sisään" />
</form>
{% endif %}
{% endblock %}
