{% extends "layout.html" %}

{% block content %}
{% if session.user_id %}
<p>Tervetuloa hallinnoimaan tapahtumien kuluja.</p>
<p><a href="/logout">Kirjaudu ulos</a></p>
<h2>Kaikki tapahtumat</h2>
<p>Tapahtumia järjestelmässä: {{ laskuri }} kappaletta (laskuri)</p>
{% else %}
<h2>Aloita kirjautumalla sisään.</h2>
<form action="/login" method="POST">
<p>Tunnus:<br />
  <input type="text" name="username" />
</p>
<p>Salasana:<br />
  <input type="password" name="password" />
</p>
<input type="submit" value="Kirjaudu sisään" />
</form>
<p>Jos sinulla ei ole vielä tunnusta, <a href="/register">rekisteröidy</a>.</p>
{% endif %}
{% endblock %}
