{% extends "layout.html" %}

{% block content %}
{% if session.user_id %}
<p>Tervetuloa hallinnoimaan tapahtumien kuluja.</p>

<h2>Omat tapahtumasi</h2>
<ul>
  {% for project in user_project_list %}
    <li><a href="/project/{{ project[0] }}">{{ project[1] }}</a></li>
  {% endfor %}
</ul>

<h2>Muiden järjestämät tapahtumat</h2>

<ul>
  {% for project in other_projects_list %}
    <li><a href="/project/{{ project[0] }}">{{ project[1] }}</a></li>
  {% endfor %}
</ul>

<p>Tapahtumia järjestelmässä yhteensä {{ counter }} kappaletta.</p>

{% else %}
<h2>Aloita kirjautumalla sisään.</h2>
<form action="/login" method="POST">
<p>Tunnus:<br />
  <input type="text" name="username" />
</p>
<p>Salasana:<br />
  <input type="password" name="password" />
</p>
<input type="submit" value="Kirjaudu sisään" />
</form>
<p>Jos sinulla ei ole vielä tunnusta, <a href="/register">rekisteröidy</a>.</p>
{% endif %}
{% endblock %}
