<!DOCTYPE html>

<html>
  <head>
    <title>Tapahtumabudjetti</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1>Tapahtuma&shy;budjetti</h1>
{% if session.user_id %}
    <p class="center_paragraph"> 
      <a href="/" class="navilink">Kaikki tapahtumat</a> - 
      <a href="/createproject" class="navilink">Lisää tapahtuma</a> -  
      <a href="/logout" class="navilink">Kirjaudu ulos</a>
    </p>
{% else %}
    <p class="center_paragraph"> 
      <a href="/" class="navilink">Kirjautuminen</a>
    </p>
{% endif %}
    <div class="all_content">{% block content %}{% endblock %}</p></div>
</html>
