{% extends "layout.html" %}

{% block title %}
- Listaa maksut
{% endblock %}

{% block content %}
<h2>Kaikki maksut päivämäärän mukaan, uusin ensin</h2>

<a href="/project/{{ project_id }}">Palaa takaisin projektin sivulle</a>

<div class="handle_overflow">
  <table>
    <tr>
      <th>{{ headlines[0] }}</th>
      <th>{{ headlines[1] }}</th>
      <th>{{ headlines[2] }}</th>
      <th>{{ headlines[3] }}</th>
      <th>{{ headlines[4] }}</th>
      <th>{{ headlines[5] }}</th>
    </tr>
    {% for payment in payments_by_date_desc %}
    <tr>  
      <td>{{ payment[0] }}</td>
      <td>{{ payment[2] }}</td>
      <td>{{ payment[1] }}</td>
      <td>{{ payment[5] }}</td>
      <td>{{ payment[4] }}</td>
      <td>{{ payment[3] }}</td>
      <td>    <form action="/deletepayment" method="POST">
        <input type="hidden" name="project_id" value="{{ project_id }}" />
        <input type="hidden" name="payment_id" value="{{ payment[6] }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Poista maksu" />
      </form></td>
    </tr>  
    {% endfor %}
  </table>
  </div>
{% endblock %}
