{% extends "layout.html" %}

{% block title %}
- {{ project_information[1] }}
{% endblock %}

{% block content %}
{% if session.user_id %}
<h2>Tapahtumayhteenveto: {{ project_information[1] }}</h2>
<p>Tapahtuman järjestäjä: {{ user_information[0] }}, {{ user_information[1] }}</p>
<p>Tapahtumaan on budjetoitu osaprojektien kautta yhteensä <strong>{{ grandtotal }}</strong> euroa. 
  Maksuja on syötetty yhteensä <strong>{{ payment_grandtotal }}</strong> euroa.</p>

<hr>
<h3>Budjetin osa-alueet</h3>
<p>Tapahtuman budjetti on jaettu osa-alueisiin, joille kullekin on määritelty oma tavoitebudjettinsa. 
<strong>Jokaisen maksun on kuuluttava yhteen budjetin osa-alueeseen.</strong>
<p>Tämän tapahtuman budjetin osa-alueet:</p>
<ul>
  {% for subproject in subproject_list %}
    <li><strong>{{ subproject[1] }}.</strong> Osa-alueeseen on  budjetoitu <strong>{{ subproject[2] }}</strong> euroa, 
        maksuja syötetty <strong>{{ subproject[3] }}</strong> euroa. 
        Budjettia jäljellä: <strong>{{ subproject[4] }}</strong> euroa.</li>
  {% endfor %}
</ul>

<h3>Lisäkategoriat</h3>
<p>Lisäkategoriat ovat vapaaehtoisia aihetunnisteita, joita voi tarvittaessa lisätä maksuille. 
  Niiden avulla voi seurata esimerkiksi kaikkia ennakkomaksuja tai käteiskassamaksuja riippumatta siitä, 
  minkä osa-alueen kautta maksu on liitetty tapahtuman budjettiin.</p>
<p>Tapahtuman järjestäjä voi seurata maksuja seuraavissa kategorioissa:</p>
<ul>
  {% for category in category_list %}
    <li>
      {{ category[1] }}
    </li>
  {% endfor %}
</ul>

<hr>
<h3>Omat maksusi tapahtumassa</h3>
<p>Olet syöttänyt tapahtumaan maksuja <strong>{{ user_payment_total }}</strong> euron edestä. 
  <a href="/createpayment/{{ project_information[0] }}">Lisää uusi maksu</a>.

<div class="handle_overflow">
  <table>
    <tr>
      <th>{{ headlines[0] }}</th>
      <th>{{ headlines[1] }}</th>
      <th>{{ headlines[2] }}</th>
      <th>{{ headlines[3] }}</th>
      <th>{{ headlines[4] }}</th>
    </tr>
    {% for payment in user_payment_list %}
    <tr>  
      <td>{{ payment[0] }}</td>
      <td>{{ payment[2] }}</td>
      <td>{{ payment[1] }}</td>
      <td>{{ payment[5] }}</td>
      <td>{{ payment[3] }}</td>
      <td> 
      <form action="/editpayment/{{ payment[6] }}" method="POST" class="inline">
        <input type="hidden" name="project_id" value="{{ project_information[0] }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="recipient" value="{{ payment[0] }}" />
        <input type="hidden" name="total" value="{{ payment[2] }}" />
        <input type="hidden" name="subproject" value="{{ payment[5] }}" />
        <input type="hidden" name="message" value="{{ payment[1] }}" />
        <input type="hidden" name="user_name" value="{{ payment[4] }}" />
        <input type="hidden" name="date" value="{{ payment[3] }}" />
        <input type="hidden" name="user_id" value="{{ payment[7] }}" />
        <input type="submit" value="Muokkaa maksua" />
      </form>
      <form action="/deletepayment" method="POST" class="inline">
        <input type="hidden" name="project_id" value="{{ project_information[0] }}" />
        <input type="hidden" name="payment_id" value="{{ payment[6] }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Poista maksu" />
      </form>
      </td>
    </tr>  
    {% endfor %}
  </table>
  </div>

{% else %}
<p>Sinulla ei ole lupaa nähdä sivua. <a href="/">Aloita kirjautumalla sisään</a>.
{% endif %}
{% endblock %}
