{% extends "layout.html" %}

{% block content %}
<h2>Tarkastelet tapahtumaa: {{ project_information[1] }}</h2>
<p>Tapahtuman järjestäjä: {{ user_information[0] }}, {{ user_information[1] }}</p>
<p>[Placeholder: Lasketaan tähän tapahtuman yleinen budjettitilanne myöhemmin]</p>

<hr>
<h3>Budjetin osa-alueet</h3>
<p>Tapahtuman budjetti on jaettu osa-alueisiin seuraavasti:</p>
<ul>
  {% for subproject in subproject_list %}
    <li>{{ subproject[1] }}, budjetoitu {{ subproject[2] }} euroa. Osaprojektin tunniste {{ subproject[0] }}.</li>
  {% endfor %}
</ul>

<strong>Tapahtuman järjestäjänä voit <a href="/editsubprojects/{{ project_information[0] }}">lisätä ja muokata maksukategorioita ja osa-alueita</a>.</strong>
<p>(Tietoja on enemmän kuin lopullisessa käyttöliittymässä tulee olemaan, debuggauksen apuna. Tapahtumat kategoriat listattu lomakkeella.)</p>

<hr>
<h3>Lisää uusi maksu</h3>
<form action="/addpayment" method="POST">
<input type="hidden" name="project_id" value="{{ project_information[0] }}" />
<p>Saaja: <input type="text" name="recipient" /></p>
<p>Maksun syy / lisätiedot: <input type="text" name="message" /></p>
<p>Summa (EUR): <input type="number" name="total" placeholder="1.0" step="0.01" /></p>
<p>Maksupäivä:</p>
<input type="date" name="paymentdate" value="2020-08-01" />
<p>Maksu kuuluu tapahtuman osa-alueeseen (pakollinen)</p>
  {% for subproject in subproject_list %}
    <input type="radio" name="paymentsubproject" value="{{ subproject[0] }}" /> {{ subproject[1] }} <br />
  {% endfor %}
<p>Maksu kuuluu kategorioihin</p>
  {% for category in category_list %}
    <input type="checkbox" name="paymentcategory" value="{{ category[0] }}" /> {{ category[1] }} <br />
  {% endfor %}
<p><input type="submit" value="Lisää maksu" /></p>
</form>

<hr>
<h3>Kaikki tapahtuman maksut</h3>
<ul>
  {% for payment in payment_list %}
    <li><p><strong>Saaja: {{ payment[3] }}</strong> | Selite: {{ payment[4] }} | Summa: {{ payment[5] }} | Maksupäivämäärä: {{ payment[6] }}</p></li>
  {% endfor %}
</ul>
{% endblock %}
