{% extends "layout.html" %}

{% block content %}
<h2>Luo uusi käyttäjä</h2>

<form action="/register" method="post" onsubmit="return check(this)">
<p>Tunnus: <input type="text" name="username" /></p>
<p>Salasana: <input type="password" name="password" /></p>
<p>Sähköposti: <input type="text" name="email" /></p>
<input type="submit" value="Luo tunnus">
</form>

<script>
function check(form) {
    if (form.username.value.length < 3 || form.username.value.length > 100) {
        alert("Käyttäjänimessä on oltava 3–100 merkkiä.");
        return false;
    }
    if (form.password.value.length < 5 || form.password.value.length > 100) {
        alert("Salasanassa on oltava 5–100 merkkiä.");
        return false;
    }
    if (form.email.value.length < 5 || form.email.value.length > 100) {
        alert("Sähköpostiosoitteessa on oltava 5–100 merkkiä");
        return false;
    }
    return true;
}
</script>
{% endblock %}
