{% extends "layout.html" %}

{% block content %}
<h2>Kaikki maksut budjetin osa-alueelta {{ subproject_name }}</h2>

<a href="/project/{{ project_id }}">Palaa takaisin projektin sivulle</a>

<p>[Tähän tulee vielä kokonaissumma osa-alueen maksuista]</p>

<ul>
  {% for payment in payments_in_subproject %}
  <li><strong>Saaja: {{ payment[0] }} </strong>| Summa: {{ payment[2] }} | Viesti: {{ payment[1] }} | Maksun luonut käyttäjä: {{ payment[4] }} | Pvm: {{ payment[3] }}</li>
  {% endfor %}
</ul>
{% endblock %}
